<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container">
	<div class="cards">
		<% @garden.plants.each do |plant| %>
			<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.image_url %>')">
			  <%= plant.name %>
			  <%= link_to "+", plant_path(plant), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
			</div>
		<% end %>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-4">
			<h4>Add a plant</h4>
			<%= simple_form_for [@garden, @plant] do |f| %>
				<%= f.input :name, placeholder: 'Palm tree' %>
				<%= f.input :image_url, placeholder: 'https://hello-world-image' %>
				<%= f.error_notification id: 'user_error_message', class: 'form_error' %>
				<%= f.submit "Add", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div> 	
</div>

<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
